
body{
    text-align: center;
   
.btn{
  margin: 5px auto 5px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
cursor: pointer;
width:60px;
background-color: #E8FFCE;
font-size: large;
}
.operation{
width: 250px;
height: 40px;
border-radius: 5px;
margin-bottom: 10px;
border :  2px solid black;

}
.col{
  margin-left:auto;
  background-color: #1D5D9B;
  padding-bottom: 10px;
 padding-top: 10px; 
  border-radius: 10px;
 margin-right: auto;
 margin-bottom: auto;
 margin-top: 50px;
 width: 300px;
}

